# Question 1
 **Write a program that prints all the numbers from 1 to 100. For multiples of 3, print "Fizz" instead of the number, and for multiples of 5, print "Buzz". For numbers that are multiples of both 3 and 5, print "FizzBuzz". Any other number print as it is.**

In [ ]:
def fizz_buzz():
    for i in range(1, 101):  # Loop through numbers from 1 to 100
        if i % 3 == 0 and i % 5 == 0:  # Check if the number is divisible by both 3 and 5
            print("FizzBuzz")
        elif i % 3 == 0:  # Check if the number is divisible by 3
            print("Fizz")
        elif i % 5 == 0:  # Check if the number is divisible by 5
            print("Buzz")
        else:  # Print the number if it's not divisible by 3 or 5
            print(i)

# Call the function to print the results
fizz_buzz()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# Question 2
2. Write a recursive function factorial(n) to calculate the factorial of a given
positive integer n.

In [ ]:
def factorial(n):

    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage
number = 5
print(f"The factorial of {number} is {factorial(number)}")

The factorial of 5 is 120

# Question 3
3. Define a class BankAccount in python program with the following:
Attributes: account_number, account_holder, balance.
Methods:
deposit(amount): Adds the amount to the balance.
withdraw(amount): Subtracts the amount from the balance if
sufficient funds are available.
get_balance(): Returns the current balance.
Demonstrate the use of this class with an example.

In [ ]:
class BankAccount:
    def __init__(self, account_number, account_holder, balance=0):

        self.account_number = account_number
        self.account_holder = account_holder
        self.balance = balance

    def deposit(self, amount):

        if amount > 0:
            self.balance += amount
            print(f"Deposited {amount}. New balance: {self.balance}")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):

        if amount > self.balance:
            print("Insufficient funds.")
        elif amount <= 0:
            print("Withdrawal amount must be positive.")
        else:
            self.balance -= amount
            print(f"Withdrew {amount}. New balance: {self.balance}")

    def get_balance(self):

        return self.balance


if __name__ == "__main__":

    account = BankAccount("123456789", "John Doe", 500)
    print(f"Initial balance: {account.get_balance()}")
    account.deposit(200)
    account.withdraw(150)
    account.withdraw(600)


    print(f"Final balance: {account.get_balance()}")

Initial balance: 500
Deposited 200. New balance: 700
Withdrew 150. New balance: 550
Insufficient funds.
Final balance: 550

# Question 4
Using the math library to write a function calculate_distance(x1, y1, x2,
y2) that calculates the Euclidean distance between two points (x1, y1) and
(x2, y2).

In [ ]:
import math

def calculate_distance(x1, y1, x2, y2):

    return math.sqrt((x2 - x1)**2 + (y2 - y1)**2)


point1 = (3, 4)
point2 = (7, 1)
distance = calculate_distance(point1[0], point1[1], point2[0], point2[1])
print(f"The distance between points {point1} and {point2} is {distance:.2f}")

The distance between points (3, 4) and (7, 1) is 5.00

# Question 5
Write a Python program that uses list comprehension to generate a list of
all numbers between 1 and 1000 divisible by 7 but not by 5.

In [ ]:

numbers = [n for n in range(1, 1001) if n % 7 == 0 and n % 5 != 0]

# Print the result
print(numbers)

[7, 14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98, 112, 119, 126, 133, 147, 154, 161, 168, 182, 189, 196, 203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308, 322, 329, 336, 343, 357, 364, 371, 378, 392, 399, 406, 413, 427, 434, 441, 448, 462, 469, 476, 483, 497, 504, 511, 518, 532, 539, 546, 553, 567, 574, 581, 588, 602, 609, 616, 623, 637, 644, 651, 658, 672, 679, 686, 693, 707, 714, 721, 728, 742, 749, 756, 763, 777, 784, 791, 798, 812, 819, 826, 833, 847, 854, 861, 868, 882, 889, 896, 903, 917, 924, 931, 938, 952, 959, 966, 973, 987, 994]

# Question 6
Write a Python function remove_duplicates(lst) that takes a list as input
and returns a new list with all duplicate elements removed, maintaining the
original order without inbuilt functions.

In [ ]:
def remove_duplicates(lst):
    result = []
    for item in lst:
        # Add the item to the result if it's not already in it
        if item not in result:
            result.append(item)
    return result


input_list = [1, 2, 2, 3, 4, 3, 5, 6, 5, 7]
output_list = remove_duplicates(input_list)
print(f"Original list: {input_list}")
print(f"List without duplicates: {output_list}")

Original list: [1, 2, 2, 3, 4, 3, 5, 6, 5, 7]
List without duplicates: [1, 2, 3, 4, 5, 6, 7]